# Scape info on cities from Wikipedia

Use english city names to obtain info from Wikipedia-pages:
* Country
* Popilation
* Coordinates (latitude, longitude)

Store in two seperate dataframes to export to MySQL

`cities_df`
* city_name (str)
* country (str)
* country_code (str)
* latitude (float)
* longitude (float)

`pop_df`
* city_name (str)
* population (int)
* measurement_date (string)
* retrieval_date (date)

Please ensure you have set up the corresponding tables with `sql/create_database_data_pipeline_example.sql`.

Save you MySQL password in `python/key.env` as `MYSQL_KEY` (or provide you password by other means) and open your MySQL workbench.

# Import libraries

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import sqlalchemy
from dotenv import load_dotenv
import os
import re
from datetime import datetime

In [4]:
cities = ['Berlin', 'Hamburg', 'Munich']

# Get data

## City info

In [6]:
def getCityInfoWiki(cities):
    '''
    Compile info on Cities from Wikipedia:
    Country, Latitude, Longitude, Pupulation and date when population was assessed
    INPUT: list of city names in English
    OUTPUT:pandas data frame with columns:
        city (str)
        country (str)
        latitude (float)
        longitude (float)

    To-do:
    - add error if wiki page not found
    '''
    country = []
    country_code = []
    latitude = []
    longitude = []

    def convert_coordinates_degree2dec(coord):
        """Convert coordinates from DMS (e.g., '13°24′18″E', '13°24′E', or '13°E') to decimal degrees."""
        import re
        import math

        # Regex that allows optional minutes (′) and seconds (″)
        match = re.match(
            r"^\s*(\d+)°(?:\s*(\d+)′)?(?:\s*(\d+)″)?\s*([NSEW])\s*$",
            coord
        )

        if match:
            degrees, minutes, seconds, direction = match.groups()

            # Default missing parts to 0
            minutes = float(minutes) if minutes else 0.0
            seconds = float(seconds) if seconds else 0.0

            # Convert to decimal degrees
            decimal = float(degrees) + minutes/60 + seconds/3600

            # West/South are negative
            if direction in ['W', 'S']:
                decimal = -decimal
        else:
            decimal = float('nan')  # Return NaN for invalid format
            print(f"Invalid coordinate format: {coord}")

        return decimal


    for city in cities:
        url = "https://en.wikipedia.org/wiki/" + city.replace(" ", "_")
        headers = {'User-Agent': 'Chrome/134.0.0.0'}
        response = requests.get(url, headers=headers)
        soup_city = BeautifulSoup(response.content, 'html.parser')

        # Country
        country_name = soup_city.find("th", string="Country").find_next("td").get_text()
        country.append(country_name)
        country_code.append(country_name.upper()[0:3])

        # Location
        latitude.append(convert_coordinates_degree2dec(soup_city.find(class_='latitude').get_text()))
        longitude.append(convert_coordinates_degree2dec(soup_city.find(class_='longitude').get_text()))
    
    cities_df = pd.DataFrame({
        'city_name': cities, 
        'country':country, 
        'country_code':country_code, 
        'latitude':latitude, 
        'longitude': longitude
        })
    return cities_df

In [7]:
cities_df = getCityInfoWiki(cities)
cities_df

  city_name  country country_code  latitude  longitude
0    Berlin  Germany          GER   52.5200     13.405
1   Hamburg  Germany          GER   53.5500     10.000
2    Munich  Germany          GER   48.1375     11.575

## Population Info

In [8]:
def getCityPopWiki(cities):
    '''
    Compile info on Cities from Wikipedia:
    Country, Latitude, Longitude, Pupulation and date when population was assessed
    INPUT: list of city names in English
    OUTPUT:pandas data frame with columns:
        city (str)
        population (int)
        measurement_date (string)
        retrieval_date (date)

    To-do:
    - add error if wiki page not found
    '''

    population = []
    measurement_date = []
    retrieval_date = []

    for city in cities:
        url = "https://en.wikipedia.org/wiki/" + city.replace(" ", "_")
        headers = {'User-Agent': 'Chrome/134.0.0.0'}
        response = requests.get(url, headers=headers)
        soup_city = BeautifulSoup(response.content, 'html.parser')

        # Population
        pop = soup_city.find(string="Population").find_next('td').get_text()
        population.append(int(pop.replace(",", "")))
        date = soup_city.find(string="Population").find_next('div').get_text()
        measurement_date.append(re.search(r'\((.*?)\)', date).group(1))
        retrieval_date.append(datetime.today().strftime('%Y-%m-%d'))

    cities_df = pd.DataFrame(
        {'city_name': cities, 
         'population':population, 
         'measurement_date':measurement_date, 
         'retrieval_date':retrieval_date})
    
    return cities_df

In [9]:
pop_df = getCityPopWiki(cities)
pop_df

  city_name  population measurement_date retrieval_date
0    Berlin     3596999      2022 census     2025-10-22
1   Hamburg     1964021       2023-12-31     2025-10-22
2    Munich     1505005       2024-12-31     2025-10-22

## Airports info

In [ ]:
def get_airports(cities_df):
  # API headers
  load_dotenv('keys.env')
  API_KEY = os.getenv("AERODATABOX_KEY")
  headers = {
      "X-RapidAPI-Key": API_KEY,
      "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
  }

  # DataFrame to store results
  all_airports = []
  for _, city in cities_df.iterrows():
    lat = city["latitude"]
    lon = city["longitude"]

    # Construct the URL with the latitude and longitude
    url = f"https://aerodatabox.p.rapidapi.com/airports/search/location/"
    querystring = {"lat":lat, "lon":lon,"radiusKm":"50","limit":"10","withFlightInfoOnly":"true"}

    # Make the API request
    response = requests.get(url, headers=headers, params=querystring)

    if response.status_code == 200:
      data = response.json()
      airports = pd.json_normalize(data.get('items', []))
      airports['city_id'] =city["city_id"]
      all_airports.append(airports)

  return pd.concat(all_airports, ignore_index=True)

In [ ]:
all_airports = get_airports(cities_from_sql)
airports_df = all_airports[['icao', 'name', 'city_id']]
airports_df = airports_df.rename(columns={"icao": "icao_code", "name": "airport_name"})
airports_df

,icao,iata,name,shortName,municipalityName,countryCode,timeZone,location.lat,location.lon,city_id
0,EDDT,TXL,Berlin -Tegel,-Tegel,Berlin,DE,Europe/Berlin,52.55970,13.287699,1
1,EDDB,BER,Berlin Brandenburg,Brandenburg,Berlin,DE,Europe/Berlin,52.35139,13.493889,1
2,EDDH,HAM,Hamburg,Hamburg,Hamburg,DE,Europe/Berlin,53.63040,9.988229,2
3,EDDM,MUC,Munich,Munich,Munich,DE,Europe/Berlin,48.35380,11.786100,3

# Send data to SQL

Please ensure you have set up the corresponding tables with `sql/create_database_data_pipeline_example.sql`.

Save you MySQL password in `python/key.env` as `MYSQL_KEY` (or provide you password by other means) and open your MySQL workbench.

### Provide info to connect to MySQL

In [2]:
load_dotenv('keys.env')  # Load .env into environment
password = os.getenv("WBS_MYSQL_DB")
schema = "data_pipeline_example"
host = "130.211.82.25"
user = "root"
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

### Send city data

In [11]:
cities_df.to_sql('cities',
                  if_exists='append',
                  con=connection_string,
                  index=False)

3

### Send population data

Retrieve city data first and merge with population data frage to get the city_id. Then send population data to MySQL.

In [12]:
cities_from_sql = pd.read_sql("cities", con=connection_string)

pop_merged_df = pop_df.merge(cities_from_sql[['city_id','city_name']],
                      on = "city_name",
                      how="left")
pop_merged_df = pop_merged_df.drop(columns=["city_name"])
pop_merged_df

   population measurement_date retrieval_date  city_id
0     3596999      2022 census     2025-10-22        1
1     1964021       2023-12-31     2025-10-22        2
2     1505005       2024-12-31     2025-10-22        3

In [13]:
pop_merged_df.to_sql('population',
                if_exists='append',
                con=connection_string,
                index=False)

3

## Send airport data

In [22]:
airports_df.to_sql(
        'cities_airports',
        if_exists='append',
        con=connection_string,
        index=False
)

4